.active {
  color: #F57C00;
}

ul.chaptersLinks {
    padding: 0;
}

ul.chaptersLinks li {
    display: inline;
}

ul.chaptersLinks li a {
    background-color: black;
    color: white;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    --border-radius: 4px 4px 0 0;
    border-width: 1px;
    border-style: solid;
    border-color: #FF9800;
}

ul.chaptersLinks li a.active {
    background-color: #FF9800;
    color: #000000;
}

ul.chaptersLinks li a:hover {
    background-color: #FF9800;
}

.chaptersNavigation {
}
div.chaptersNavigation {
  background-color: #F57C00;
  padding:2px 0px 0px 30px;
  color:#000000;
}

div.chapterLines{
  padding-top:20px;
  padding-left:20px;
}


blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}
blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
blockquote cite:before {
content: "\2014 \2009";
}
